@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

input {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.658);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

input:focus {
  outline: none;
  border: 1px solid #9c59b69a;
}

.primary {
  background-color: #9c59b69a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

.primary:hover {
  background-color: #9b59b6;
  color: #fff;
}

#audio-range {
  background: linear-gradient(
    to right,
    #4158d0 0%,
    #c850c0 50%,
    #c850c0 50%,
    #ffcc70 100%
  );
  border: solid 1px #9bdfe0d3;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

#volume-range {
  background: linear-gradient(
    to right,
    #ff3cac 0%,
    #784ba0 50%,
    #784ba0 50%,
    #2b86c5 100%
  );
  border: solid 1px #9bdfe0d3;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.sc-bczRLJ.kiHXWb {
  border: none;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}