@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

input {
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 0.658);
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

input:focus {
  outline: none;
  border: 1px solid #9c59b69a;
}

.primary {
  background-color: #9c59b69a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

.primary:hover {
  background-color: #9b59b6;
  color: #fff;
}
